// @font-face {
//   font-family: "Bebas";
//   src: url(fonts/BebasNeue_Bold.otf) format("opentype");
// }

h1, h2, h3, h4, h5, h6, p, li {
    color: #f9f9f9;
}


li {
    text-align: left;
}

h1, h2{
    font-family: "bebas-neue", "Futura", Helvetica, sans-serif;
    color: #f9f9f9;
}

.marquee {
    text-align: center;
}

body {
  padding-top: 50px;
  background-color: #444;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

nav {
    display: none;
}

.banner {
    width: 100%;
}

a {
    font-family: "bebas-neue", "Futura", Helvetica, sans-serif;
    color: #3396d5;
}
